<div id="lead-group" class="tab-pane fade in <%= second %>">
  <h3>Lead groups</h3>
  <% if @lead_groups.any? %>
  	<ul class="list-group">	
		<% @lead_groups.all.each do |lead_group| %>
			<li class="list-group-item" style="display:flex; justify-content: space-between;">
					<strong><%= lead_group.name %></strong>
				<div>
					<a href="lead_group/edit?id=<%= lead_group.id %>"><button class="btn btn-warning">Edit</button></a>
					<a href="lead_group/delete?id=<%= lead_group.id %>" data-method="delete"><button class="btn btn-danger">Delete</button></a>
				</div>
			</li>
		<% end %>  		
  	</ul>
  	<p>Create more lead souce by clicking on the create button</p>
  <% else %>
  	<p>No lead group Present. Add some by clicking on the create button</p>
  <% end %>

  <div class="container" style="padding-top:20px;">
	  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Create Lead group</button><br><br>
	  <div id="demo" class="collapse">
	    <%= form_for "lead_group", url: "lead_group/create", method: :post do |f| %>
	    	<%= f.label :name %>
	    	<%= f.text_field :name %>
	    	<%= f.submit :create, class: "btn btn-default"%>
	    <% end %>
	  </div>
  </div>
</div>